.footer__copyright{
	align-self: flex-end;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
}


@media screen and (max-width: 376px){
	.footer__copyright{
		margin-left: 0;
		margin-bottom: 0;
		align-self: flex-start;
	}
}