@import url('__image.css');
@import url('__title.css');
@import url('__subtitle.css');
.cover{
	padding-top: 6.3vw;
	position: relative;
	max-width: 1184px;
	margin: auto; 
}

@media screen and (max-width: 1025px){
	.cover{
		width: 100%;
	}
}
